<div class="panel panel-info" >
    <div class="panel-heading">
        <div class="panel-title">Pizza Menu</div>
    </div>
    <div style="padding-top:30px" class="panel-body" >  
    <table class="table table-striped" id="tblGrid">
        <thead id="tblHead">
            <tr>
                <th>Menu Item</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody id="menuBody">

        </tbody>
    </table>

    <h3>Specials coming soon!</h3>
</div>

<script type="text/javascript">
$(document).ready(function(){
    updateCart();
    
    var menuBody = $("#menuBody");
    for(p of pizzas){
        menuBody.append(`
            <tr>
                <td>${p.type}</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel sem quis nibh convallis tempor eget in libero.</td>
                <td>$${p.price}</td>
            </tr>
        `);
    }
});
</script>